node_modules
.env
.env.local

# Hardhat files
/cache
/artifacts

# VS Code Hardhat extension temp files
.vscode_hardhat_config_*.ts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
